@import url("<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">")

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin:0;
	background-color: #B5E5F6;
	line-height: 1.8em;
	font-family: 'Montserrat', sans-serif;
}

.mar {

	margin: 0 300px;

}

.bord {

	border: none;

}

.pad {

	padding-top: 100px;
}

.container {
	margin: auto;
	width: 100%;
	display: inline-block;
	position: center;
	

}

h1 {
	font-size: 50px;
	text-align: center;
	margin: auto;
	padding: 50px;
	color: #ebbcff;
	text-shadow: 4px 4px 5px #0E224C;

	background: linear-gradient(to bottom, rgb(146, 229, 121), rgba(255,0,0,0))

}

h2 {

	padding-top: 50px;
	font-size: 30px;
	color: #efe09e;

	text-align: center;
	text-shadow: 2px 2px 5px #c99e4a;


}

.web {
	text-align:  center;
	color: #efe09e;
	font-size: 23px;
}


.gallery {
	display: block;
	margin: 50px auto;
	width: 100%;
	height: auto;

	position: relative;
	background: linear-gradient(to top, #4796cc, #2f77a8, #204c82, #1a7ea3,  #0e2b4f, #113056, #051a33);


	 box-shadow: 0 5px 50px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

	 border: 3px;
	
}

div.gallery {
	width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border: 10px;

  background-color: #cfbef7;
  border-color: #F781BE #FA5882;
	border-style: groove ridge;
}

img {
	padding-top: 50px;
	width: 100%

}

div.bar {
  text-align: center;
  padding: 10px 20px;
  font-size: 23px;
  color: #96ffdc;



}

.music p{
	color: #ff9999;
	margin: 20px;
	padding-top: 40px;
	font-size: 23px;

}

#navbar {
	background-color: #1324A5;
	margin: 0;
	padding: 25px ;
	opacity: 0.95;

}

#navbar ul{

	display: inline-flex;
	list-style: none;
	width: 94%;

}

#navbar li{
	margin: 20px 5px;
	width:30%;
	text-align: center;
	float:middle;

	
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	width: 66%;

}

.button {

	background: linear-gradient(to top, #3C3C9E, #7E7EEE);
	border: none;
    color: white;
    margin:  auto;
	padding: 10%;
	border-style: none solid;
	border-color: #D8CEF6;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);

}

footer {
	text-align: center;
	background-color:#88c4ef;
	color: #fff;
	padding: 25px;
}

.footlink {
	width:100%;

	padding-bottom: 25px;
	display: flex;
	justify-content: center;
	}

footer div{
	margin-top: 10px;
	width:20%;
	text-align: center;
	float:left;
}

footer a{
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	color:#a2f2be ;

}

footer p{
	padding-top: 50px ;
	color: #fff;
	font-weight: 700;
}



/* The animation code */
@keyframes example {
    0% {background-color: #1324A5;}
    25% {background-color: #1977c4;}
    50% {background-color: #20b4d6;}
    75% {background-color: #1977c4;}
    100% {background-color: #1324A5;}
}

#navbar {
	background-color:  #1324A5;
	animation-name: example;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
