@import url("<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">")

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin:0;
	background-color: #B5E5F6;
	line-height: 1.8em;
	font-family: 'Montserrat', sans-serif;
}

.mar {

	margin: 0 350px;
}

.bord {

	border: none;

}

.pad {

	padding-top: 100px;
}

#navbar {
	background-color: #1324A5;
	margin: 0;
	padding: 25px ;
	opacity: 0.95;
}

#navbar ul{
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	list-style: none;

}

#navbar li{
	margin: 20px 10px;
	width:30%;
	text-align: center;
	float:left;

	
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	width: 66%;

}

.button {

	background: linear-gradient(to top, #3C3C9E, #7E7EEE);
	border: none;
    color: white;
    margin:  auto;
	padding: 10%;
	border-style: none solid;
	border-color: #D8CEF6;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.container {

	display: block;
	margin: 50px auto;
	width: 80%;
	height: 550px;

	position: relative;
	background-repeat: no-repeat;
	background-position: auto;
	background-color: #20b4d6;

	background-color: #000;
	 box-shadow: 0 5px 50px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

	 border: 5px;
	border-color: #F781BE #FA5882;
	border-style: groove ridge;
}

.container h2 {

	font-size: 40px;
	background: linear-gradient(#FE9A2E,#F3E2A9);

	text-align: center;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent

}

.container p {
	color: #fff;
	margin: 0 auto;
	padding: 15px;
	max-width: 75%;

	text-align: center;
	font-size: 18px;
	text-shadow: 4px 4px 5px #0E224C;
}


@keyframes example {
    0% {background-color: #1324A5;}
    25% {background-color: #1977c4;}
    50% {background-color: #20b4d6;}
    75% {background-color: #1977c4;}
    100% {background-color: #1324A5;}
}

#navbar {
	background-color:  #1324A5;
	animation-name: example;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}

