@import url("<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">")

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin:0;
	background-color: #e2edff;
	line-height: 1.8em;
	font-family: 'Montserrat', sans-serif;
}

.mar {

	margin: 0 350px;
}

.bord {

	border: none;

}

.pad {

	padding-top: 75px;
}

#navbar {
	background-color: #75c4f7;
	margin: 0;
	padding: 25px ;
	opacity: 0.95;

}

#navbar ul{

	display: inline-flex;
	list-style: none;
	width: 94%;

}

#navbar li{
	margin: 20px 5px;
	width:30%;
	text-align: center;
	float:middle;

	
}

#navbar a{
	color: #005580;
	text-decoration: none;
	font-size: 25px;
	width: 66%;


}
.button {

	border: none;
    color: white;
    margin:  auto;
	padding: 10%;
	border-style: none;
	text-align: center;
	cursor: pointer;


}

.container {

	display: block;
	margin: 50px auto;
	width: 80%;
	height: auto;
	padding-bottom: 50px;

	position: relative;

	background: linear-gradient(to top, #0e2b4f, #1a7ea3);


	 box-shadow: 0 5px 50px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

	 border: 5px;
	border-color: #F781BE #FA5882;
	border-style: groove ridge;
}

.container h2 {

	font-size: 38px;
	color: #f9e19d;

	text-align: center;
	text-shadow: 4px 4px 5px #0E224C;

}

.container p {
	color: #fff;
	margin: 0 auto;
	padding: 10px;
	max-width: 75%;

	text-align: center;
	font-size: 18px;
	text-shadow: 4px 4px 5px #0E224C;
}

.container ul {
	list-style: none;
	text-align: center;
}

.container a {
	
	color: white;
	text-shadow: 4px 4px 5px #0E224C;
	padding-bottom: 25px;
	padding-right: 25px
}


footer {
	text-align: center;
	background-color:#81a7f6;
	color: #fff;
	padding: 25px;
}

.footlink {
	width:100%;

	padding-bottom: 25px;
	display: flex;
	justify-content: center;
	}

footer div{
	margin-top: 10px;
	width:20%;
	text-align: center;
	float:left;
}

footer a{
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	color:#e7fbfe ;

}

footer p{
	padding-top: 50px ;
	color: #fff;
	font-weight: 700;
}